<h1>ツイート一覧</h1>

<% if session[:login_uid] %>
  <%= form_with url: tweets_path, method: :post, local: true do |f| %>
    <%= f.text_area :message, placeholder: "いまどうしてる？" %>
    <%= f.submit "ツイートする" %>
  <% end %>
<% else %>
  <p>ログインするとツイートができます。</p>
<% end %>

<ul>
  <% @tweets.each do |t| %>
    <li>
      <%= t.message %> - 投稿者: <%= t.user.uid %>
      <% if session[:login_uid] %>
        <%= link_to '削除', tweet_path(t), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

